[paths]
source =
    project_name
    */site-packages/omniflow_project

[run]
branch = true
parallel = true
source = omniflow_project
omit = */__init__.py

[report]
exclude_lines =
    \#.*pragma:\s*no.?cover

    if __name__ == .__main__.

    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
show_missing = true
precision = 2
