*~
__pycache__/
/build/
/docs/_build/
/docs/generated/
.DS_Store
/.vscode/
/*.egg-info/
*.egg
*.prof
*.coverage
*.pickle
/out/
*.log
/dist/
*.pye
*.pyc
*.kate-swp
/.tox/
/.idea/
/.pytest_cache/
/.cache/
/data/
