name: Build and Deploy Documentation

on:
  push:
    branches:
      - main  # or your default branch name

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.13

    - name: Install pandoc
      run: sudo apt-get install -y pandoc

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install graphviz
      run: sudo apt-get install -y graphviz libgraphviz-dev

    - name: Install dependencies
      run: |
        poetry install --no-interaction

    - name: Build documentation
      run: |
        poetry run sphinx-build -b html docs/src docs/_build/html -v

    - name: Debug information
      run: |
        echo "Current directory:"
        pwd
        echo "Directory contents:"
        ls -R
        echo "Docs directory contents:"
        ls -R docs

    - name: List contents of build directory
      run: ls -R docs/_build/html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
        force_orphan: true
